<div class="contenedor">
<h2>Configuración de PC</h2>


<div class="fila">
<label>Tamaño de RAM:</label>
<select [(ngModel)]="seleccion.ram">
@for (ram of tamanosRam; track $index) {
<option>{{ ram }}</option>
}
</select>
</div>


<div class="fila">
<label>Tipo de Procesador:</label>
<select [(ngModel)]="seleccion.procesador">
@for (proc of tiposProcesador; track $index) {
<option>{{ proc }}</option>
}
</select>
</div>


<div class="fila">
<label>Tarjeta Gráfica:</label>
<select [(ngModel)]="seleccion.grafica">
@for (g of tarjetasGraficas; track $index) {
<option>{{ g }}</option>
}
</select>
</div>


<div class="fila">
<label>Disco Duro:</label>
<select [(ngModel)]="seleccion.disco">
@for (d of discosDuros; track $index) {
<option>{{ d }}</option>
}
</select>
</div>


<div class="fila">
<label>Fuente de Alimentación:</label>
<select [(ngModel)]="seleccion.fuente">
@for (f of fuentesAlimentacion; track $index) {
<option>{{ f }}</option>
}
</select>
</div>


<button (click)="verDetalle()">Ver Detalle</button>
</div>
<router-outlet></router-outlet>